@model AirlineProject.Data.Passenger

@{ 
    ViewData["Title"] = "Details";
}

<h1 class="text-light">Details</h1>

<div class="text-light">
    <h4>Passenger</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.jobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.confirmationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.confirmationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flight.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flight.id);
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flight.departureAirport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flight.departureAirport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flight.arrivalAirport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flight.arrivalAirport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flight.departureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flight.departureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flight.arrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flight.arrivalTime)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { style = "color: white" }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.id }, new { style = "color: white" }) |
    <a class="text-light" asp-action="Index">Back to Passengers</a>
</div>
