@model AirlineProject.Data.Pilot

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light">Details</h1>

<div class="text-light">
    <h4>Pilot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { style = "color: white" }) |
    @Html.ActionLink("Delete", "Delete", new {  id = Model.id}, new { style = "color: white" }) | 
    <a class="text-light" asp-action="Index">Back to List</a>
</div>
